/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199px) { 
    .timeLineChart {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 23%;
    }
}

/* // Large devices (desktops, less than 1200px) */
 @media (max-width: 1199px) { 
    .timeLineChart {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 33%;
    }
}

 /* // Medium devices (tablets, less than 992px) */
 @media (max-width: 991px) { .timeLineChart {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 43%;
} }

 /* // Small devices (landscape phones, less than 768px) */
 @media (max-width: 767px) { .timeLineChart {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 58%;
} }

 /* // Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575px) { .timeLineChart {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
} }


.timeLineChart::-webkit-scrollbar{
    height: 15px;
}

.timeLineChart::-webkit-scrollbar-track{
    background-color: darkgray;
    border-radius: 100px;
}

.timeLineChart::-webkit-scrollbar-thumb{
    background-image:  linear-gradient(90deg, #cfcfcf 0%, #cfcfcf 99%);
    box-shadow: inset 2px 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}